XSS Filter Failure in isURL (2.0)

I know, issue #605 is closed, but I found a similar issue (this time for real):

A URL like `https://example.com/foo/<script>alert('XSS')</script>/` is a valid URL in terms of `validator.isURL()`. 

Is there a chance to fix this?

Version 6.2.0

[RFC 3986](https://tools.ietf.org/html/rfc3986#section-3) states:

> path = *( "/" segment )
> pchar = unreserved / pct-encoded / sub-delims / ":" / "@"
> unreserved = ALPHA / DIGIT / "-" / "." / "_" / "~"
> sub-delims = "!" / "$" / "&" / "'" / "(" / ")" / "*" / "+" / "," / ";" / "="

[RFC 1738](https://tools.ietf.org/html/rfc1738#section-2.2) states:

> The characters "<" and ">" are unsafe because they are used as the delimiters around URLs in free text.

[RFC 3987](https://tools.ietf.org/html/rfc3987) says that `<` and `>` are not allowed.

tl;dr `(`, `)` and `'` are ok, but `<` and `>` are not.

I can fix this, but in general you should not be relying on the validator to suppress XSS attacks.

Yeah, I see... Will not rely on the validator _only_. 

Just wanted to point it out here! 😊

Thanks, tho!

Fixed in `6.2.1`

Wow! Awesome!